# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BBFILES ?= ""
RDKROOT := "${@os.path.abspath(os.path.dirname(d.getVar('FILE')) + '/../..')}"

BBLAYERS ?= " \
  ${BBLAYERS_BSP} \
  ${BBLAYERS_BSP_IF_AVAILABLE} \
  ${BBLAYERS_IF_AVAILABLE} \
  ${RDKROOT}/meta-mng \
  ${RDKROOT}/openembedded-core/meta \
  ${RDKROOT}/meta-gplv2 \
  ${RDKROOT}/meta-openembedded/meta-oe \
  ${RDKROOT}/meta-openembedded/meta-networking \
  ${RDKROOT}/meta-openembedded/meta-python \
"

BBLAYERS_IF_AVAILABLE = ""

# Machine specific BSP layers
BBLAYERS_BSP = ""
